{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Projet Cedric & Pierre{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">

            {% include "_messages.html" %}
            <h1>{% blocktrans %}<center> Le service du particulier<br>au particulier </center>{% endblocktrans %}</h1> <br><br><br><br>
            <p>
                {% blocktrans %}
               <form method="get" action="/search/">
                <p>Rechercher un service
           <input type="text" name="q" id="id_q"/>
           <input type="submit" value="Rechercher!"/> </p>
        </form>
                {% endblocktrans %}
            </p>
        </div>
    </section>
    <section>
        <div class="container">

            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                   <h3> <b>Liste des catégories</b> </h3> <br> <br>
                    {% endblocktrans %}
                {%  for categorie in liste_categories %}
                        <div class="categorie">
                         <p> <a href="{% url "views.categorie" categorie.id %}"> <b><h4>{{ categorie.nom }} </h4></b></a></p>
                         </div>
                    {% empty %}
                    <p>Aucune categorie.</p>
                    {% endfor %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    <h3> <b> Quelques services </b></h3><br> <br>
                    {% endblocktrans %}
                                {%  for article in derniers_articles %}
                        <div class="article">
                         <h4>{{ article.titre }}</h4>
                        <p> {{ article.contenu|truncatewords_html:80 }}</p>
                        <p> <a href="{% url "views.lire" article.id article.slug %}">Lire la suite</a></p>
                         </div>
                    {% empty %}
                    <p>Aucun service disponible.</p>
                    {% endfor %}
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
                {% blocktrans %}
                    <h3> <b>  </b></h3>
                    {% endblocktrans %}
                    {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %} <h3><a href="{{ login_url }}" class="btn btn-default">Connexion</a> ou <a href="{{ signup_url }}" class="btn btn-primary">Inscription</a> si tu n'as pas encore de compte!</h3>{% endblocktrans %}</p>
            {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
