{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Projet Cedric & Pierre{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
        <section class="jumbotron">

            {% include "_messages.html" %}
            <h1>{% blocktrans %}<center> Le service du particulier<br>au particulier </center>{% endblocktrans %}</h1> <br><br><br><br>
            <p>
                {% blocktrans %}
               <form method="get" action="/search/">
                <p>Rechercher un service
           <input type="text" name="q" id="id_q"/>
           <input type="submit" value="Rechercher!"/> </p>
        </form>
                {% endblocktrans %}
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            {%  for reponse in reponses %}
            <div class="reponse">
 <h1> Le service {{ reponse.article }} <span class="small"> a reçu une offre par {{ reponse.acheteur }} </span> </h1>
<p class="infos"> Il a proposé le prix {{ reponse.prix_acheteur }} (prix à l'{{ reponse.type }}, le {{ reponse.date|date:"DATE_FORMAT" }} </p>
<div class="contenu"> Commentaire: <br>{{ reponse.commentaire|linebreaks }}</div>
</div>
              {% empty %}
                    <p>Aucune offre disponible.</p>
                    {% endfor %}
  </div>  </section>
{% endblock %}